/********************************************
Profile-specific CSS
********************************************/

#profile {

	.page-header {
		border-bottom: 1px solid $purple;

		h1, p {
			margin-bottom: .3em;
		}
	}

	.privacy {
		padding-top: .8em;
	}

	.profile-image {
		color: $white;
		background: $green;
		border-radius: 50%;
		padding: .3em;
		margin-bottom: .3em;
	}

	#stats {
		padding-top: 3em;
		margin-bottom: 3em;
	}

	.monster {
		background: $purple;
		border-radius: 4px;
		max-width: 10em;
		margin-top: 5em;
		margin-left: 2em;
		padding: 1em;
	}

	#challenges {
		padding-top: 2em;
	}

	.challenge--header {
		padding-bottom: .5em;
		border-bottom: 1px solid $light-gray;
	}

	.challenge {
		ul { margin: 0; }
		border-bottom: 1px solid $light-gray;
		padding: 1.5em 0;
	}
}

.round--number {
	padding: 0 .4em;
	border-radius: 50%;
}

.padding--left {
	padding-left: 3em;
}

.badge {
	border: 0;
}