/********************************************
Profile-specific CSS
********************************************/

#profile {

	.privacy {
		padding-top: .8em;
	}

	.profile-image {
		color: $white;
		background: $green;
		border-radius: 50%;
		padding: .3em;
		margin-bottom: .3em;
	}

	#stats {
		border-top: 1px solid $light-gray;
		border-bottom: 1px solid $light-gray;
		padding-top: 3em;
	}

	#challenges {
		padding-top: 2em;
	}

	.challenge--header {
		padding-bottom: .5em;
		border-bottom: 1px solid $light-gray;
		margin-bottom: 1.5em;
	}

	.challenge {
		ul { margin: 0; }
	}
}

.round--number {
	padding: 0 .4em;
	border-radius: 50%;
}

.padding--left {
	padding-left: 3em;
}

.badge {
	border: 0;
}